<div class="modal-body">
  <div>
    <h1 class="text-center">サインイン</h1>
    <input type="text" ng-model="id" class="form-control" placeholder="ユーザID" />
    <input type="text" ng-model="pass" class="form-control" placeholder="パスワード"/>
  </div>

  <div style="padding:16px 0 16px 0">
    <button type="button" ng-click="debug()" class="btn btn-info btn-lg btn-block">
      <span class="glyphicon glyphicon-lock"></span> Sign In
    </button>
  </div>

</div>

<div class="modal-footer">
  <button type="button" ng-click="debug()" class="btn btn-info btn-lg btn-block text-capitalize">
      <i class="fa fa-twitter"></i></span><small>Sign in with Twitter</small>
  </button>
</div>